body {
  background-color: #718b91;
  font-family: sans-serif;
}

nav {
  margin-bottom: 50px;
  padding: 20px;
  background-color: #445555;
}

button {
  width: auto;
  margin: 15px;
  background-color: #c1ccc3;
}

a {
  margin: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ddd;
}

img {
  width: 150px;
  margin: 10px;
  filter: grayscale(100%);
  border: 3px solid #333;
}

.container1 {
  width: 75%;
  margin: auto;
}

.containerP1, .containerP2 {
  display: inline-block;
  width: 420px;
  margin: 15px;
}
